<!DOCTYPE html>
<html>
<head>
  <title>Code version</title>
  <%= stylesheet_link_tag    "code_version/application", media: "all" %>
  <%= javascript_include_tag "code_version/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
